{% extends 'AppBlog/base.html' %}
{% block contenido %}
<!-- MAIN -->
<main>
    <div class="container">
        <div class="row">
            <!-- ARTICLES -->
            <div class="col-lg-8 col-xs-12">
                <section class="articles">
                    {% for articulo in articulo_list %}
                        <article class="{{ articulo.categoria.color }}-article">
                        <div class="articles-header">
                            <time datetime="2016-10-11">{{ articulo.fecha_publicacion }}</time>
                            {% if articulo.articulo_reciente %}
                                 <span class="articles-header-tag-blue">Nuevo</span>
                            {% endif %}
                            <span class="articles-header-category"><a href="{% url 'articulo-categoria-list' articulo.categoria %}" class="blue" title="">{{ articulo.categoria|upper }}</a></span>
                        </div>
                        <div class="articles-content">
                            <h1><a href="blog_post.html" title="">{{ articulo.titulo|upper }}</a></h1>
                            <p>
                               {{ articulo.contenido|truncatewords:30 }}
                            </p>
                        </div>
                        <div class="articles-footer">
                            <ul class="articles-footer-info">
                                <li><a href="#" class="light-link" title=""><i class="pe-7s-comment"></i> 7 Response</a>
                                </li>
                                <li><a href="#" class="light-link" title=""><i class="pe-7s-like"></i> 1221</a></li>
                            </ul>
                            <a title="" class="btn" href="{{ articulo.get_absolute_url }}">Leer más</a>

                        </div>
                    </article>
                    {% endfor %}


                    {% comment %}<article class="red-article">
                        <div class="articles-header">
                            <time datetime="2016-10-11">January 16, 2016</time>
                            <span class="articles-header-category"><a href="#" class="red"
                                                                      title="">Javascript</a></span>
                        </div>
                        <div class="articles-content">
                            <h1><a href="blog_post.html" title="">State of the Art JavaScript in 2016</a></h1>
                            <p>
                                Class in JS is not harmless sugar for prototypal OO. Class is a virus that infects
                                everything it touches. It came to us formally
                                in
                                JavaScript with ES6, and at the same time, React was taking off. Lots of people started
                                using classes for React components...
                            </p>
                        </div>
                        <div class="articles-footer">
                            <ul class="articles-footer-info">
                                <li><a title="" href="#" class="light-link"><i class="pe-7s-comment"></i> 7 Response</a>
                                </li>
                                <li><a title="" href="#" class="light-link"><i class="pe-7s-like"></i> 1221</a></li>
                            </ul>
                            <a title="" class="btn" href="blog_post.html">Read more</a>
                        </div>
                    </article>

                    <article class="yellow-article">
                        <div class="articles-header">
                            <time datetime="2016-10-11">12 hours ago</time>
                            <span class="articles-header-category"><a title="" href="#" class="yellow">CSS</a></span>
                        </div>
                        <div class="articles-content">
                            <h1><a title="" href="#">Want to learn JavaScript in 2016?</a></h1>
                            <p>
                                This is a walk-through of the steps I personally took in a single year, to begin
                                learning JavaScript. My goal was to be able to
                                get
                                a job in a position where Javascript would be at the forefront of what I do on a daily
                                basis...
                            </p>
                        </div>
                        <div class="articles-footer">
                            <ul class="articles-footer-info">
                                <li><a title="" href="#" class="light-link"><i class="pe-7s-comment"></i> 7 Response</a>
                                </li>
                                <li><a title="" href="#" class="light-link"><i class="pe-7s-like"></i> 1221</a></li>
                            </ul>
                            <a title="" class="btn" href="blog_post.html">Read more</a>
                        </div>
                    </article>

                    <article>
                        <div class="articles-header">
                            <time datetime="2016-10-11">12 hours ago</time>
                            <span class="articles-header-category"><a title="" href="#" class="grey">Other</a></span>
                        </div>
                        <div class="articles-content">
                            <h1><a title="" href="blog_post.html">Want to learn JavaScript in 2016?</a></h1>
                            <p>
                                This is a walk-through of the steps I personally took in a single year, to begin
                                learning JavaScript. My goal was to be able to
                                get
                                a job in a position where Javascript would be at the forefront of what I do on a daily
                                basis...
                            </p>
                        </div>
                        <div class="articles-footer">
                            <ul class="articles-footer-info">
                                <li><a title="" href="#" class="light-link"><i class="pe-7s-comment"></i> 7 Response</a>
                                </li>
                                <li><a title="" href="#" class="light-link"><i class="pe-7s-like"></i> 1221</a></li>
                            </ul>
                            <a title="" class="btn" href="blog_post.html">Read more</a>
                        </div>
                    </article>{% endcomment %}

                    <!-- PAGINATION -->
                    <nav aria-label="...">
                        {% if page_obj.has_previous %}
                             <a title="" href="?page={{ page_obj.previous_page_number }}" class="btn-small-white pagination-back">Back</a>
                        {% endif %}

                        <span>
                            Pagina {{ page_obj.number }} de {{ paginator.num_pages }}
                        </span>
                        {% if page_obj.has_next %}
                             <a title="" href="?page={{ page_obj.next_page_number }}" class="btn-small-white pagination-back">Back</a>
                        {% endif %}
                    </nav>

                </section>
            </div>

            <!-- AUTHOR -->
            <div class="aside-blocks col-lg-4 col-xs-12">
                <aside class="author">
                    <img src="img/profile-picture.png" alt="" data-rjs="2">
                    <h2>Bill Gates</h2>
                    <span class="author-info">Front-End Developer</span>
                    <span class="author-info">Microsoft Company</span>
                    <div class="social">
                        <a href="" title="Twitter"><i class="icon-social_twitter_circle"></i></a>
                        <a href="" title="Github"><i class="icon-social_github_circle"></i></a>
                        <a href="" title="LinkedIn"><i class="icon-social_linkedin_circle"></i></a>
                    </div>
                    <ul class="author-nav">
                        <li><a href="" title=""><i class="pe-7s-bookmarks"></i> Download my CV</a></li>
                        <li><a href="" title=""><i class="pe-7s-paper-plane"></i> Write message</a></li>
                    </ul>
                </aside>

                <aside class="categories">
                    <h2 class="aside-title">Categorias</h2>
                    <ul>
                        {% for a in categoria_list %}
                             <li class="nav-elipse-{{ a.color }}"><a href="{% url 'articulo-categoria-list' a.nombre %}" title="Articulos {{ a.nombre|capfirst }}">{{ a.nombre|capfirst }}</a></li>
                        {% endfor %}

                       {% comment %}
                        <li class="nav-elipse-red"><a href="#" title="Blog HTML articles">HTML</a></li>
                        <li class="nav-elipse-yellow"><a href="#" title="Blog Javascript articles">Javascript</a></li>
                        <li class="nav-elipse-green"><a href="#" title="Blog raphic articles">Graphic</a></li>
                        <li><a href="#" title="Blog other articles">Other</a></li>{% endcomment %}
                    </ul>
                </aside>

                <aside class="advertisement">
                    <a href=""><img src="img/advertisement.jpg" alt="Advertisement" data-rjs="2"></a>
                </aside>

                <aside class="last-project">
                    <h2 class="aside-title">Last Project</h2>
                    <div class="last-project-one">
                        <h3 class="h4"><a href="">Microsoft TypeScript</a></h3>
                        <time datetime="2016-12-31T23:59:59Z">January 18, 2016</time>
                        <p class="font-primary">TypeScript starts from the same syntax and semantics that millions of
                            JavaScript developers know... </p>
                        <a href="#" title="Watch it" class="btn btn-small">Watch it</a>
                    </div>
                </aside>

                <aside class="tags">
                    <h2 class="aside-title">Tags</h2>
                    <div class="tags-content">
                        <span class="tag tag-pill tag-default"><a href="">graphic</a></span>
                        <span class="tag tag-pill tag-default"><a href="">angular2</a></span>
                        <span class="tag tag-pill tag-default"><a href="">graphic</a></span>
                        <span class="tag tag-pill tag-default"><a href="">react</a></span>
                        <span class="tag tag-pill tag-default"><a href="">it</a></span>
                        <span class="tag tag-pill tag-default"><a href="">science</a></span>
                    </div>
                </aside>

            </div>
        </div>
    </div>
</main>
<!-- end MAIN -->
{% endblock %}